/*Propriété pour ne pas modifier la largeur de la page*/
body {
    overflow-x: hidden;
}
/*Paramétres pour l'éntête*/
.parameterHeader {
    font-size: 5vw;
    border-radius: 0.7vw;
    margin-top: 2vw;
}
/*Paramétres pour la barre de navigation*/
.parameterNavbar {
    border-radius: 0.7vw;
    background-image: linear-gradient(chocolate, Silver, tan);
}
/*Paramétres pour les boutons de la barre de navigation*/
.parameterButtonNav {
    color: black;
    background-color: grey;
}
/*Paramétre pour la taille de l'icone maps*/
.iconMaps {
    font-size: 5rem;
    margin-bottom: 1.5vw;
}
/*Paramétres pour le bouton icone maps*/
.btnGeolocation {
    display: block;
    background-color: inherit;
    border: none;
}
/*Paramétres pour le smiley content*/
.parameterSmileyHappy {
    font-size: 3rem;
    color: yellow;
    margin-right: 0.7vw;
    margin-top: 2.3vw;
}
/*Paramétres pour le smiley en colére*/
.parameterSmileyAngry {
    font-size: 3rem;
    color: red;
    justify-content: space-between;
    margin-top: 2.3vw;
}
/*Paramétre pour la couleur du titre h1*/
h1 {
    color: peru;
    margin-left: 14.6vw;
}
.parameterP, ul{
    font-size: 3vh;
    color: chocolate;
}
/*Paramétres image carte de visite*/
.parameterImg {
    margin-top: 3vw;
    margin-bottom: 5vw;
}
/*Paramétre de l'image métier*/
.img_job {
    margin-bottom: 5vw;
}
/* Paramétre du titre de niveau 1 de la page métier */
.h1_job {
    margin-bottom: 5vw;
    margin-right: 14vw;
    margin-top: 5vw;
}
/*Paramétres pour la fin de page*/
.parameterFooter {
    border-radius: 0.7vw;
    font-size: 3vw;
    margin-top: 5vw;
}
/*Paramétres pour les boutons de fin de page*/
.parameterBorderButtonFooter {
    border-radius: 0.7vw;
    color: black;
    margin-bottom: 1vw;
}
/*Paramétres pour le logo facebook*/
.parameterLogoFacebook {
    float: left;
    color: dimGray;
    font-size: 2.5rem;
    margin-left: 45px;
    margin-top: 0.7vw;
}
/*Paramétres pour le logo mail*/
.parameterLogoMail {
    float: right;
    color: dimGray;
    font-size: 2.5rem;
    margin-right: 45px;
    margin-top: 0.5vw;
}
/* Paramétre pour le numéro siret */
#siret {
    margin-top: 0.5vw;
}
/* Paramétres pour les mentions légales */
#notice {
    margin-top: 0.5vw;
    margin-right: 5vw;
}
/*Paramétre pour le bouton contact*/
#buttonContact {
    color: black;
    border-radius: 1.5vw;
    margin-bottom: 1.5vw;
    margin-top: 2.3vw;
    font-size: 1.3vw;
}
/*Paramétres pour le bouton du commentaire*/
.buttonComment {
    color: black;
    border-radius: 1.5vw;
    margin-bottom: 2.3vw;
    margin-top: 1.5vw;
}
#buttonAppointment {
    color: black;
    border-radius: 1.5vw;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
    font-size: 1.3vw;
}
/*Paramétres pour les li de la liste*/
.parameterLi {
    color: Wheat;
    font-size: 1.5rem;
    margin-left: 10vw;
}
/*Paramétre formulaire de contact*/
.formContact {
    background-image: linear-gradient(chocolate, SaddleBrown);
}
/*Paramétre pour les bordures de l'input du formulaire*/
.inputFormContact {
    border-radius: 0.7vw;
    margin-right: 5vw;
}
/*Couleur marron foncé*/
.colorSandyBrown{
    color: SandyBrown;
}
/*Paramétres pour le titre H1 de la page contact*/
.H1_page_contact {
    color: Peru;
    font-size: 3rem;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 5vw;
    margin-left: 20vw;
}
/*Paramétre pour la couleur du titre h1 de la page connexion*/
.title_chocolate {
    color: chocolate;
}
/*Paramétre pour la couleur du titre h1*/
.title_peru {
    color: peru;
}
/* Paramétres pour le titre de niveau 1 de la page accueil */
.h1_accueil {
    margin-right: 15vw;
    margin-top: 5vw;
}
/* Début des paramétre pour cacher les boutons */
#buttonPhone {
    display: none;
}
.contactPhone {
    display: none;
}
#viewPhone {
    display: none;
}
/* Fin des paramétres pour cacher les boutons */
/* Paramétre pour le titre tarifs */
.rate {
    margin-right: 15vw;
}
/* Paramétre pour le paiement */
.payment {
    margin-right: 1vw;
}
/* Paramétre pour les informations de paiement */
.info {
    margin-right: 1vw;
}
/* Début de paramétres pour cacher les boutons */
#phoneConnect {
    display: none;
}
#quotePhone {
    display: none;
}
#appointmentPhone {
    display: none;
}
#pricesPhone {
    display: none;
}
#noticePhone {
    display: none;
}
/* Fin des paramétres pour cacher les boutons */
/* Paramétre pour que la barre ne soit pas transparente */
.navPhone {
    opacity: 1;
}
/* Paramétre pour cacher le numéro siret */
#siretPhone {
    display: none;
}
/* Paramétres pour l'image géographique' */
.imgIframe {
    height: 90vh;
    width: 40vw;
}
/* Paramétre pour le titre de la page devis */
.title_quote {
    margin-right: 20vw;
}
/* Couleur rouge */
.red {
    color: red;
}
/* Couleur jaune */
.yellow {
    color: yellow;
}
/* Couleur orange */
.orange {
    color: orange;
}
/* Couleur noir */
.black {
    color: black;
}
/* Paramétres pour le titre de niveau 1 de la page produit */
.h1_product {
    margin-top: 5vw;
    margin-right: 8vw;
    margin-left: 5vw;
}
/* Paramétre pour les références produit */
.ref_product {
    float: right;
    padding-left: 5vw;
}
/* Paramétre pour cacher les boutons */
#quotePhone {
    display: none;
}
#appointmentPhone {
    display: none;
}
#pricesPhone {
    display: none;
}
/* Fin des paramétres pour cacher les boutons */
/* Paramétres pour les images de la page galery */
.img_galery {
    margin-left: 5vw;
}