/*Propriété pour ne pas modifier la largeur de la page*/
body {
  overflow-x: hidden;
}
/*Paramétres pour l'éntête*/
.parameterHeader {
  font-size: 40px;
  border-radius: 10px;
}
/*Paramétres pour la barre de navigation*/
.parameterNavbar {
  font-size: 20px;
  border-radius: 10px;
  background-image: linear-gradient(chocolate, Silver, tan);
}
/*Paramétres pour les boutons de la barre de navigation*/
.parameterButtonNav {
  color: black;
  background-color: grey;
}
/*Paramétre pour la taille de l'icone maps*/
.iconMaps {
  font-size: 3rem;
}
/*Paramétres pour le bouton icone maps*/
.btnGeolocation {
  display: block;
  background-color: inherit;
  border: none;
}
/*Paramétres pour le smiley content*/
.parameterSmileyHappy {
  font-size: 3rem;
  color: yellow;
  margin-right: 10px;
}
/*Paramétres pour le smiley en colére*/
.parameterSmileyAngry {
  font-size: 3rem;
  color: red;
  justify-content: space-between;
}
/*Paramétre pour le bouton contact*/
#buttonContact a {
  color: black;
}
/*Coueleur noir*/
.colorBlack {
  color: black;
}
/*Paramétre formulaire de contact*/
.formContact {
  background-image: linear-gradient(chocolate, SaddleBrown);
}
/*Paramétre pour les bordures de l'input du formulaire*/
.inputFormContact {
  border-radius: 10px;
}
/*Couleur marron foncé*/
.colorSandyBrown{
  color: SandyBrown;
}
/*Paramétres pour la fin de page*/
.parameterFooter {
  height: 70px;
  margin-top: 5%;
  border-radius: 10px;
}
/*Paramétres pour les boutons de fin de page*/
.parameterBorderButtonFooter {
  border-radius: 10px;
  color: black;
}
/*Paramétres pour le logo facebook*/
.parameterLogoFacebook {
  float: left;
  color: dimGray;
  font-size: 2.5rem;
}
/*Paramétres pour le logo mail*/
.parameterLogoMail {
  float: right;
  color: dimGray;
  font-size: 2.5rem;
}
/*Paramétres pour le titre H1*/
.parameterH1 {
  color: Peru;
  font-size: 3rem;
  margin-bottom: 5%;
}
/*Paramétres pour les li de la liste*/
.parameterLi {
  color: Wheat;
  font-size: 1.5rem;
}
/*Couleur noir*/
.colorBlack {
  color: black;
}
